*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
node_modules/

Intranet/obj/
Intranet/obj/
Intranet/bin/Debug/*
Intranet/bin/Debug/netcoreapp2.0/*
Intranet/wwwroot/css/*.min.css
Intranet/wwwroot/js/*.min.js

Intranet/bower_components/*

# Client folders
node_modules

public/*

ClientSrc/wwwroot-src/models/courses/*.json
ClientSrc/wwwroot-src/models/departments/*.json
ClientSrc/wwwroot-src/models/subjects/*.json

product/BackboneUI/wwwroot/*
.sonarqube/
**/*/coverage.opencover.xml
